*.class
*.jar
*.war
*.ear
.classpath
.project
.settings
.gradle
build
*.iml
*.ipr
*.iws
*.DS_Store
.idea
.vscode
catalina.base_IS_UNDEFINED/
bin/
fineract-provider/src/main/resources/application.properties
.lock
fineract-provider/out/
data/
data/ib_logfile0
data/ibdata1
